<ion-view hide-nav-bar="true" view-title="Rychlovka Start">
	<ion-content>
    <div class="pop pop-center popup">
      <div class="pop-cont1 pop-center">
      <div class="stats_text title" style="text-align: center;">
        <h3>{{game.gameSetup.selectedDifficulty}}</h3>
      </div>
<img src="img/polda_nick.png" class="image_pop">
<div class="pop_text">
	<p ng-show="game.continue">
		Při poslední hře jste zodpověděl {{game.gameStatistics.answeredQuestions}} otázek z toho {{game.gameStatistics.successQuestions}} správně a	{{game.gameStatistics.failedQuestions}} špatně.
		Vaše úspěšnost je tedy {{(100*game.gameStatistics.successQuestions/game.gameStatistics.answeredQuestions)| number:0}}%
	</p>
	<p ng-show="profile.level == 0">
		Tak tohle je tvoje první šichta...
	</p>
</div>

</div>


<div class="pop-cont2 box-padding1  pop-center">
  <p>
  	{{profile.name}}, Vaše aktuální hodnost je <strong>{{profile.level}}</strong>.
  </p>
<p>
	Pro postup na hodnost xxxx Musíš mít úspěšnost xxx % v příštích xx otázkách.
</p>

</div>
<div class="pop-cont3 pop-center">

<a class="button button_pop_small bt_pop_right" ng-click="startGame()">Spustit hru!</a>
<a class="button button_pop_small bt_pop_left" ui-sref="home">Zpět do menu</a>

</div>
</div>
</ion-content>
</ion-view>
