// Ionic variables to override
$base-background-color:			  #fff !default;
$light:                           #fff !default;
$stable:                          #EEF2F3 !default;
$positive:                        #3496D2 !default;
$calm:                            #43cee6 !default;
$balanced:                        #81BB2B !default;
$energized:                       #DBB220 !default;
//$assertive:                       #E04E39 !default;
$assertive:                           #CE4A7C !default;
$royal:                           #CE4A7C !default;
$dark:                            #2E2828 !default;
$radius:                          100% !default;
