// Ionic variables to override
$base-background-color:			  #fff !default;
$light:                           #fff !default;
$stable:                          #EEF2F3 !default;
$positive:                        #3496D2 !default;
$calm:                            #43cee6 !default;
$balanced:                        #81BB2B !default;
$energized:                       #DBB220 !default;
//$assertive:                       #E04E39 !default;
$assertive:                           #CE4A7C !default;
$royal:                           #CE4A7C !default;
$dark:                            #2E2828 !default;
$radius:                          100% !default;
$font_stack:                      'PT Sans', sans-serif;
$color_text_light:                #eee;
$color_text_dark:                 #666;
$color_back_light:                #eee;
$color_back_dark:                 #333;
$color1:                          #ccc;
$color2:                          #3399ff;
$color3:                          #ffff00;
$opacity_std:                     0.7;
$opacity_sel:                     1;
$box_shadow:                      0px 0px 10px #666;
